<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="search-label-icon">
    <h3 class="sear-head">Пошук</h3>
    <form action="{% url 'search_tabacco' %}" method="get">
        <input type="search" name="q">
        <button type="submit">
            <span class="fa fa-search"></span>
        </button>
    </form>
</div>
<a href="{% url 'index' %}">home</a>
<form action="{% url 'tabacco' %}" method="get">
    <button type="submit">
        All
    </button>
</form>
<form action="{% url 'filter_tabacco' %}" method="get">
    {% for brand_tabacco in view.get_brand_tabacco %}
        <button type="submit" name="brand" value="{{ brand_tabacco.id}}">
        {{ brand_tabacco.name }}
        </button>
{% endfor %}
</form>

{% for tabacco in tabacco_list %}
    <a href="{{ tabacco.get_absolute_url }}">{{ tabacco.brand }} {{ tabacco.name }}</a>
    <img src="{{ tabacco.poster.url }}" alt="">
{% endfor %}
</body>
</html>
</body>
</html>